Repository cs3org/reva, changes with the owners that CODEOWNERS names for each.
All owners: @labkode, @ishank011, @cs3org/owncloud-team, @wkloucek, @glpatcern

CODEOWNERS:

*				@labkode @ishank011
internal/http/services/owncloud @cs3org/owncloud-team @labkode @ishank011
changelog/unreleased      @cs3org/owncloud-team
pkg/auth/manager/owncloudsql	  @cs3org/owncloud-team
pkg/storage/fs/owncloudsql      @cs3org/owncloud-team
pkg/storage/fs/owncloud   	  @cs3org/owncloud-team
pkg/storage/fs/ocis             @cs3org/owncloud-team
pkg/storage/utils/decomposedfs  @cs3org/owncloud-team
pkg/user/manager/owncloudsql	  @cs3org/owncloud-team
pkg/app           		  @wkloucek @glpatcern @ishank011

fix build after master merge
  internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/shares.go
  internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/user.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011

feat(ocdav meta api): add id to path
  internal/http/services/owncloud/ocdav/meta.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011

fix integration tests (again)
  tests/integration/grpc/fixtures/gateway-sharded.toml
  tests/integration/grpc/fixtures/gateway-static.toml
  tests/integration/grpc/fixtures/gateway.toml
  tests/integration/grpc/gateway_storageprovider_test.go
  tests/integration/grpc/storageprovider_test.go
Owners: @labkode, @ishank011

Add grpc integration tests for the virtual views case
  internal/grpc/services/gateway/storageprovider.go
  tests/integration/grpc/fixtures/gateway-static.toml
  tests/integration/grpc/fixtures/storageprovider-owncloud.toml
  tests/integration/grpc/gateway_storageprovider_static_test.go
Owners: @labkode, @ishank011

Allow read access to the root node
  pkg/storage/fs/owncloud/owncloud.go
Owners: @cs3org/owncloud-team

disable cache for now
  internal/grpc/services/gateway/storageprovider.go
Owners: @labkode, @ishank011

add comment to PublicStorageProviderID
  pkg/auth/scope/publicshare.go
Owners: @labkode, @ishank011
