Repository cs3org/reva, changes with the owners that CODEOWNERS names for each.
All owners: @labkode, @glpatcern, @gmgigi96, @cs3org/owncloud-team, @wkloucek

fix linter
  internal/http/services/cback/cback.go
  pkg/cbox/storage/cback/cback.go
  pkg/cbox/storage/cback/config.go
  pkg/storage/utils/cback/cback.go
  pkg/storage/utils/cback/structs.go
  pkg/utils/utils.go
Owners: @labkode, @glpatcern, @gmgigi96

eosfs: set DefaultQuotaBytes to 2T for 1T available
  changelog/unreleased/eos-default-quota-fix.md
  pkg/storage/utils/eosfs/eosfs.go
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

eosfs: set DefaultQuotaBytes to 2T for 1T available (#3492)
  changelog/unreleased/eos-default-quota-fix.md
  pkg/storage/utils/eosfs/eosfs.go
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

Support rclone tpc push.
  examples/datatx/datatx.toml
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

Support tpc push with different accounts at src and dest.
  internal/http/services/owncloud/ocdav/ocdav.go
  internal/http/services/owncloud/ocdav/tpc.go
Owners: @cs3org/owncloud-team, @labkode, @gmgigi96, @glpatcern

Support rclone tpc push.
  pkg/datatx/manager/rclone/rclone.go
Owners: @labkode, @glpatcern, @gmgigi96

Enhancement: rclone tpc push
  changelog/unreleased/rclone-tpc.md
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

Fix comment
  pkg/datatx/manager/rclone/rclone.go
Owners: @labkode, @glpatcern, @gmgigi96

Transfer method depends on implementation or configuration.
  pkg/datatx/datatx.go
Owners: @labkode, @glpatcern, @gmgigi96

Simplify; don't touch the target URIs.
  internal/grpc/services/datatx/datatx.go
Owners: @labkode, @glpatcern, @gmgigi96

decomposedfs: configurable filelock duration factor
  changelog/unreleased/filelock-duration-factor.md
  pkg/storage/utils/decomposedfs/decomposedfs.go
  pkg/storage/utils/decomposedfs/options/options.go
  pkg/storage/utils/filelocks/filelocks.go
  pkg/storage/utils/filelocks/filelocks_test.go
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

disable flaky negative test
  pkg/storage/utils/filelocks/filelocks_test.go
Owners: @labkode, @glpatcern, @gmgigi96

fix typos
  pkg/storage/utils/filelocks/filelocks.go
Owners: @labkode, @glpatcern, @gmgigi96

prepare release, bump version
  CHANGELOG.md
  RELEASE_DATE
  VERSION
  changelog/2.12.0_2022-11-25/allow-updating-to-private-link.md
  changelog/2.12.0_2022-11-25/dav-unit-tests.md
  changelog/2.12.0_2022-11-25/decomposedfs-finish-upload-rewrite.md
  changelog/2.12.0_2022-11-25/decomposedfs-propagate-sizediff.md
  changelog/2.12.0_2022-11-25/dont-leak-spaces.md
  changelog/2.12.0_2022-11-25/emit-more-events.md
  changelog/2.12.0_2022-11-25/filelock-duration-factor.md
  changelog/2.12.0_2022-11-25/fix-datagateway-patch-error-message.md
  changelog/2.12.0_2022-11-25/fix-space-public-links.md
  changelog/2.12.0_2022-11-25/fix-spaceroots.md
  changelog/2.12.0_2022-11-25/reduce-lock-contention.md
  changelog/2.12.0_2022-11-25/refactor-delete-error-handling.md
  changelog/2.12.0_2022-11-25/remove-share-jail-check.md
  changelog/2.12.0_2022-11-25/set-oc-fileid-header.md
  docs/content/en/docs/changelog/2.12.0/_index.md
Owners: @labkode, @glpatcern, @gmgigi96, @cs3org/owncloud-team

Refactor move error handling
  changelog/unreleased/refactor-ocdav-move-error-handling.md
  internal/http/services/owncloud/ocdav/move.go
  internal/http/services/owncloud/ocdav/ocdav.go
  internal/http/services/owncloud/ocdav/spaces.go
  internal/http/services/owncloud/ocdav/webdav.go
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

How do we tell Nextcloud which WebDAV server to mount this share from?
  pkg/ocm/share/manager/nextcloud/nextcloud.go
Owners: @labkode, @glpatcern, @gmgigi96

Bump core latest commit-id on reva-master
  .drone.env
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

Bump core latest commit-id on reva-master (#3477)
  .drone.env
Owners: @labkode, @gmgigi96, @glpatcern, @cs3org/owncloud-team

Forbidden overwrite in public links with drop zone (taken from upstream)
  go.mod
  go.sum
  internal/http/services/owncloud/ocdav/put.go
  pkg/siteacc/account/panel.go
  pkg/user/utils.go
Owners: @labkode, @glpatcern, @gmgigi96, @cs3org/owncloud-team

CODEOWNERS:

*                                     @labkode @glpatcern @gmgigi96
.drone.env                            @labkode @gmgigi96 @glpatcern @cs3org/owncloud-team
changelog                             @labkode @gmgigi96 @glpatcern @cs3org/owncloud-team
examples                              @labkode @gmgigi96 @glpatcern @cs3org/owncloud-team
tests                                 @labkode @gmgigi96 @glpatcern @cs3org/owncloud-team
internal/http/services/owncloud       @cs3org/owncloud-team @labkode @gmgigi96 @glpatcern
internal/http/services/appprovider    @labkode @gmgigi96 @wkloucek @glpatcern
internal/grpc/services/gateway        @labkode @gmgigi96 @glpatcern
internal/grpc/services/appprovider    @labkode @gmgigi96 @wkloucek @glpatcern
pkg/auth/manager/owncloudsql          @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/storage/fs/owncloudsql            @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/storage/fs/owncloud               @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/storage/fs/ocis                   @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/storage/utils/decomposedfs        @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/user/manager/owncloudsql          @cs3org/owncloud-team @labkode @glpatcern @gmgigi96
pkg/app                               @labkode @wkloucek @glpatcern @gmgigi96
