Repository cs3org/reva, changes with the owners that CODEOWNERS names for each.
All owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team, @wkloucek

allow revision download when user has initiate download and list revision permission
  internal/http/services/owncloud/ocdav/meta.go
  pkg/storage/utils/decomposedfs/revisions.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

use archiver obj instead of endpoint
  internal/http/services/owncloud/ocdav/download.go
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

better error handling
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

fix datagateway patch error message
  changelog/unreleased/fix-datagateway-patch-error-message.md
  internal/http/services/owncloud/ocdav/tus.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

fix reading revision node
  internal/http/services/owncloud/ocdav/meta.go
  pkg/storage/utils/decomposedfs/node/node.go
  pkg/storage/utils/decomposedfs/node/permissions.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

do not forget revision delimiter
  pkg/storage/utils/decomposedfs/node/node.go
Owners: @cs3org/owncloud-team

drop old revision
  pkg/storage/utils/decomposedfs/revisions.go
Owners: @cs3org/owncloud-team

remove unexpected failures
  tests/acceptance/expected-failures-on-OCIS-storage.md
  tests/acceptance/expected-failures-on-S3NG-storage.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Migrate golangci-lint from Drone to GitHub Actions
  .drone.star
  .github/workflows/check-changelog.yml
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  changelog/unreleased/enhancement-golangci-lint.md
  go.mod
  go.sum
Owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team

update changelog and unexpected passes
  changelog/unreleased/decomposedfs-finish-upload-rewrite.md
  tests/acceptance/expected-failures-on-OCIS-storage.md
  tests/acceptance/expected-failures-on-S3NG-storage.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Added comment to test
  internal/grpc/services/appprovider/appprovider_test.go
Owners: @labkode, @ishank011, @wkloucek, @glpatcern

Resolve users with no uid/gid by their username claim
  changelog/unreleased/oidc-resolve-users.md
  internal/grpc/services/authprovider/authprovider.go
  pkg/auth/manager/oidc/oidc.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

propagate size diff
  pkg/storage/utils/decomposedfs/decomposedfs.go
  pkg/storage/utils/decomposedfs/grants.go
  pkg/storage/utils/decomposedfs/metadata.go
  pkg/storage/utils/decomposedfs/node/xattrs.go
  pkg/storage/utils/decomposedfs/revisions.go
  pkg/storage/utils/decomposedfs/tree/tree.go
  pkg/storage/utils/decomposedfs/tree/tree_test.go
  pkg/storage/utils/decomposedfs/upload.go
  pkg/storage/utils/decomposedfs/xattrs/xattrs.go
Owners: @cs3org/owncloud-team

fix move, add changelog
  changelog/unreleased/decomposedfs-propagate-sizediff.md
  pkg/storage/utils/decomposedfs/tree/tree.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

fix size diff calculation for now files
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

incorporate reviews
  pkg/storage/utils/decomposedfs/node/xattrs.go
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

update tree mock
  pkg/storage/utils/decomposedfs/mocks/Tree.go
Owners: @cs3org/owncloud-team

Migrate golangci-lint from Drone to GitHub Actions (#3466)
  .drone.star
  .github/workflows/check-changelog.yml
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  changelog/unreleased/enhancement-golangci-lint.md
  go.mod
  go.sum
Owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team

fix reva tests
  pkg/storage/utils/decomposedfs/node/node.go
  pkg/storage/utils/decomposedfs/testhelpers/helpers.go
  pkg/storage/utils/decomposedfs/tree/tree.go
Owners: @cs3org/owncloud-team

Enable gofmt linter and apply gofmt
  .golangci.yaml
  changelog/unreleased/enhancement-gofmt.md
  cmd/revad/runtime/runtime.go
  internal/grpc/interceptors/eventsmiddleware/events.go
  internal/grpc/services/gateway/usershareprovider.go
  internal/http/services/owncloud/ocdav/ocdav_test.go
  internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/shares_test.go
  pkg/mentix/key/apikey.go
  pkg/registry/config_test.go
  pkg/storage/fs/cephfs/connections.go
  pkg/storage/fs/nextcloud/nextcloud_server_mock.go
  pkg/storage/utils/ace/ace.go
  pkg/storage/utils/decomposedfs/testhelpers/helpers.go
  pkg/utils/resourceid/owncloud_test.go
  tests/integration/grpc/grpc_suite_test.go
Owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team

update tree unit tests
  pkg/storage/utils/decomposedfs/tree/tree_test.go
Owners: @cs3org/owncloud-team

Enable gofmt linter and apply gofmt (#3463)
  .golangci.yaml
  changelog/unreleased/enhancement-gofmt.md
  cmd/revad/runtime/runtime.go
  internal/grpc/interceptors/eventsmiddleware/events.go
  internal/grpc/services/gateway/usershareprovider.go
  internal/http/services/owncloud/ocdav/ocdav_test.go
  internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/shares_test.go
  pkg/mentix/key/apikey.go
  pkg/registry/config_test.go
  pkg/storage/fs/cephfs/connections.go
  pkg/storage/fs/nextcloud/nextcloud_server_mock.go
  pkg/storage/utils/ace/ace.go
  pkg/storage/utils/decomposedfs/testhelpers/helpers.go
  pkg/utils/resourceid/owncloud_test.go
  tests/integration/grpc/grpc_suite_test.go
Owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team

OIDC: resolve users with no uid/gid by username (#3481)
  changelog/unreleased/oidc-resolve-users.md
  docs/content/en/docs/config/grpc/services/appprovider/_index.md
  docs/content/en/docs/config/http/services/mailer/_index.md
  docs/content/en/docs/config/http/services/owncloud/ocdav/_index.md
  docs/content/en/docs/config/packages/app/provider/wopi/_index.md
  internal/grpc/services/appprovider/appprovider_test.go
  internal/grpc/services/authprovider/authprovider.go
  pkg/auth/manager/oidc/oidc.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team, @wkloucek

clarify revisions code
  pkg/storage/utils/decomposedfs/revisions.go
Owners: @cs3org/owncloud-team

Reduce number of parallel runs in Drone CI
  .drone.star
Owners: @labkode, @glpatcern

silence valid return codes
  pkg/storage/utils/decomposedfs/spaces.go
Owners: @cs3org/owncloud-team

read size before moving node to trash
  pkg/storage/utils/decomposedfs/tree/tree.go
Owners: @cs3org/owncloud-team

use unique mount_ids in two server example
  examples/two-server-setup/gateway-1.toml
  examples/two-server-setup/gateway-2.toml
  examples/two-server-setup/storage-home-1.toml
  examples/two-server-setup/storage-home-2.toml
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

add changelog
  changelog/unreleased/two-server-example-fix.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

fix s3ng revision download
  pkg/storage/utils/decomposedfs/revisions.go
Owners: @cs3org/owncloud-team

Update issue 1267 in expected-failures-on-OCIS-storage
  tests/acceptance/expected-failures-on-OCIS-storage.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Update issue 1267 in expected-failures-on-OCIS-storage
  tests/acceptance/expected-failures-on-OCIS-storage.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

fix datagateway patch error message (#3472)
  changelog/unreleased/fix-datagateway-patch-error-message.md
  internal/http/services/owncloud/ocdav/tus.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

clean up revision on error
  pkg/storage/utils/decomposedfs/revisions.go
Owners: @cs3org/owncloud-team

use verbose newNode name
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

make FlockFile public and more readable
  pkg/storage/utils/filelocks/filelocks.go
Owners: @labkode, @glpatcern

introduce FileLockSuffix
  pkg/storage/utils/filelocks/filelocks.go
Owners: @labkode, @glpatcern

use filelock package instead of hardcoded strings
  pkg/storage/utils/decomposedfs/spaces.go
  pkg/storage/utils/decomposedfs/xattrs/xattrs.go
Owners: @cs3org/owncloud-team

make linter happy
  pkg/storage/utils/filelocks/filelocks.go
Owners: @labkode, @glpatcern

use date snapshot when creating a restore job
  internal/http/services/cback/cback.go
  pkg/storage/utils/cback/cback.go
Owners: @labkode, @glpatcern

CODEOWNERS:

*                                     @labkode @glpatcern
.drone.env                            @labkode @ishank011 @glpatcern @cs3org/owncloud-team
changelog                             @labkode @ishank011 @glpatcern @cs3org/owncloud-team
examples                              @labkode @ishank011 @glpatcern @cs3org/owncloud-team
tests                                 @labkode @ishank011 @glpatcern @cs3org/owncloud-team
internal/http/services/owncloud       @cs3org/owncloud-team @labkode @ishank011 @glpatcern
internal/http/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
internal/grpc/services/gateway        @labkode @ishank011 @glpatcern
internal/grpc/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
pkg/auth/manager/owncloudsql          @cs3org/owncloud-team
pkg/storage/fs/owncloudsql            @cs3org/owncloud-team
pkg/storage/fs/owncloud               @cs3org/owncloud-team
pkg/storage/fs/ocis                   @cs3org/owncloud-team
pkg/storage/utils/decomposedfs        @cs3org/owncloud-team
pkg/user/manager/owncloudsql          @cs3org/owncloud-team
pkg/app                               @labkode @wkloucek @glpatcern
