Repository cs3org/reva, changes with the owners that CODEOWNERS names for each.
All owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team, @wkloucek

CODEOWNERS:

*                                     @labkode @glpatcern
.drone.env                            @labkode @ishank011 @glpatcern @cs3org/owncloud-team
changelog                             @labkode @ishank011 @glpatcern @cs3org/owncloud-team
examples                              @labkode @ishank011 @glpatcern @cs3org/owncloud-team
tests                                 @labkode @ishank011 @glpatcern @cs3org/owncloud-team
internal/http/services/owncloud       @cs3org/owncloud-team @labkode @ishank011 @glpatcern
internal/http/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
internal/grpc/services/gateway        @labkode @ishank011 @glpatcern
internal/grpc/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
pkg/auth/manager/owncloudsql          @cs3org/owncloud-team
pkg/storage/fs/owncloudsql            @cs3org/owncloud-team
pkg/storage/fs/owncloud               @cs3org/owncloud-team
pkg/storage/fs/ocis                   @cs3org/owncloud-team
pkg/storage/utils/decomposedfs        @cs3org/owncloud-team
pkg/user/manager/owncloudsql          @cs3org/owncloud-team
pkg/app                               @labkode @wkloucek @glpatcern

add endpoint to expose backups
  internal/http/services/cback/cback.go
Owners: @labkode, @glpatcern

fix space update permissions check
  changelog/unreleased/dont-leak-spaces.md
  pkg/storage/utils/decomposedfs/spaces.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

update test
  pkg/storage/utils/decomposedfs/spaces_test.go
Owners: @cs3org/owncloud-team

fix space update permissions check (#3453)
  changelog/unreleased/dont-leak-spaces.md
  pkg/storage/utils/decomposedfs/spaces.go
  pkg/storage/utils/decomposedfs/spaces_test.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Unit test ocdav mkcol (#3447)
  changelog/unreleased/dav-unit-tests.md
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

update tooling (#3446)
  .bingo/Variables.mk
  .bingo/bingo.mod
  .bingo/bingo.sum
  .bingo/mockery.mod
  .bingo/mockery.sum
  .bingo/variables.env
  pkg/share/manager/owncloudsql/mocks/UserConverter.go
  pkg/share/mocks/Manager.go
  pkg/storage/registry/spaces/mocks/StorageProviderClient.go
  pkg/storage/utils/decomposedfs/mocks/CS3PermissionsClient.go
  pkg/storage/utils/decomposedfs/mocks/PermissionsChecker.go
  pkg/storage/utils/decomposedfs/mocks/Tree.go
  pkg/storage/utils/decomposedfs/tree/mocks/Blobstore.go
  pkg/storage/utils/indexer/mocks/Indexer.go
  pkg/storage/utils/metadata/mocks/Storage.go
  tests/cs3mocks/mocks/CollaborationAPIClient.go
  tests/cs3mocks/mocks/GatewayAPIClient.go
Owners: @labkode, @glpatcern, @cs3org/owncloud-team, @ishank011

further mkcol unit tests
  changelog/unreleased/dav-unit-tests.md
  internal/http/services/owncloud/ocdav/mkcol.go
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Fixed #3448
  changelog/unreleased/appprovider-panic-fix.md
  internal/grpc/services/appprovider/appprovider.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team, @wkloucek

Bump CORE latest commit
  .drone.env
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Bump CORE latest commit
  .drone.env
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Bump CORE latest commit (#3456)
  .drone.env
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Bump CORE latest commit (#3457)
  .drone.env
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Set the Oc-Fileid header when copying items
  internal/http/services/owncloud/ocdav/copy.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Add changelog
  changelog/unreleased/set-oc-fileid-header.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Fixed #3448 (#3455)
  changelog/unreleased/appprovider-panic-fix.md
  internal/grpc/services/appprovider/appprovider.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team, @wkloucek

Update internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Fix double declaration of genID
  pkg/ocm/share/manager/nextcloud/nextcloud.go
Owners: @labkode, @glpatcern

further mkcol unit tests (#3454)
  changelog/unreleased/dav-unit-tests.md
  internal/http/services/owncloud/ocdav/mkcol.go
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Set oc fileid header (#3458)
  changelog/unreleased/set-oc-fileid-header.md
  internal/http/services/owncloud/ocdav/copy.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

info logging
  pkg/ocm/invite/manager/json/json.go
  pkg/ocm/share/sender/sender.go
Owners: @labkode, @glpatcern

cover naming rules
  internal/http/services/owncloud/ocdav/copy.go
  internal/http/services/owncloud/ocdav/move.go
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

some requests expect no body
  internal/http/services/owncloud/ocdav/copy.go
  internal/http/services/owncloud/ocdav/delete.go
  internal/http/services/owncloud/ocdav/move.go
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

update changelog
  changelog/unreleased/dav-unit-tests.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

add mkcol to pending empty body tests
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

start reorganizing tests per endpoint, method, successful path and error cases
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
  internal/http/services/owncloud/ocdav/spaces.go
  internal/http/services/owncloud/ocdav/webdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Use a StorageSpaceId for SpaceShared events
  internal/grpc/interceptors/eventsmiddleware/conversion.go
  pkg/events/spaces.go
Owners: @labkode, @glpatcern

update unexpected passes
  changelog/unreleased/dav-unit-tests.md
  tests/acceptance/expected-failures-on-OCIS-storage.md
  tests/acceptance/expected-failures-on-S3NG-storage.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Add a SpaceUnshared event
  internal/grpc/interceptors/eventsmiddleware/conversion.go
  internal/grpc/interceptors/eventsmiddleware/events.go
  pkg/events/spaces.go
Owners: @labkode, @glpatcern

Migrate golangci-lint from Drone to GitHub Actions
  .drone.star
  .github/workflows/check-changelog.yml
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  changelog/unreleased/enhancement-golangci-lint.md
  go.mod
  go.sum
Owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team

Add Docker publishing GH Action for ScienceBox
  .github/workflows/docker-publish.yml
Owners: @labkode, @glpatcern

syntax fix
  pkg/ocm/invite/manager/json/json.go
  pkg/ocm/share/manager/nextcloud/nextcloud.go
Owners: @labkode, @glpatcern

Docker: change secret name and Dockerfile path
  .github/workflows/docker-publish.yml
Owners: @labkode, @glpatcern

Bump cosign version to v.1.13.0
  .github/workflows/docker-publish.yml
Owners: @labkode, @glpatcern

incorporate feedback
  internal/http/services/owncloud/ocdav/ocdav_blackbox_test.go
  pkg/errtypes/errtypes.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Added missing autogenerated docs
  docs/content/en/docs/config/grpc/services/appprovider/_index.md
  docs/content/en/docs/config/http/services/mailer/_index.md
  docs/content/en/docs/config/http/services/owncloud/ocdav/_index.md
  docs/content/en/docs/config/packages/app/provider/wopi/_index.md
Owners: @labkode, @glpatcern

Removed misleading test for the appprovider
  internal/grpc/services/appprovider/appprovider_test.go
Owners: @labkode, @ishank011, @wkloucek, @glpatcern

more efficient tree size calculation in decomposedfs
  changelog/unreleased/decomposedfs-readdir-including-stat.md
  pkg/storage/utils/decomposedfs/tree/tree.go
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Add a SpaceUpdated event
  internal/grpc/interceptors/eventsmiddleware/conversion.go
  internal/grpc/interceptors/eventsmiddleware/events.go
  pkg/events/spaces.go
Owners: @labkode, @glpatcern

Add changelog
  changelog/unreleased/emit-more-events.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

rewrite finish upload to get atomic size diff
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team
