Repository cs3org/reva, changes with the owners that CODEOWNERS names for each.
All owners: @labkode, @glpatcern, @ishank011, @cs3org/owncloud-team, @wkloucek

CODEOWNERS:

*                                     @labkode @glpatcern
.drone.env                            @labkode @ishank011 @glpatcern @cs3org/owncloud-team
changelog                             @labkode @ishank011 @glpatcern @cs3org/owncloud-team
examples                              @labkode @ishank011 @glpatcern @cs3org/owncloud-team
tests                                 @labkode @ishank011 @glpatcern @cs3org/owncloud-team
internal/http/services/owncloud       @cs3org/owncloud-team @labkode @ishank011 @glpatcern
internal/http/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
internal/grpc/services/gateway        @labkode @ishank011 @glpatcern
internal/grpc/services/appprovider    @labkode @ishank011 @wkloucek @glpatcern
pkg/auth/manager/owncloudsql          @cs3org/owncloud-team
pkg/storage/fs/owncloudsql            @cs3org/owncloud-team
pkg/storage/fs/owncloud               @cs3org/owncloud-team
pkg/storage/fs/ocis                   @cs3org/owncloud-team
pkg/storage/utils/decomposedfs        @cs3org/owncloud-team
pkg/user/manager/owncloudsql          @cs3org/owncloud-team
pkg/app                               @labkode @wkloucek @glpatcern

decomposedfs: make finish upload atomic
  changelog/unreleased/decomposedfs-finish-upload-rewrite.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

add lock functions
  pkg/storage/utils/decomposedfs/node/node.go
  pkg/storage/utils/decomposedfs/node/node_test.go
  pkg/storage/utils/decomposedfs/node/xattrs.go
  pkg/storage/utils/decomposedfs/xattrs/xattrs.go
Owners: @cs3org/owncloud-team

Fix release script removing release-deps install step
  tools/prepare-release/main.go
Owners: @labkode, @glpatcern

ci: add GIT debugging logs
  .drone.star
Owners: @labkode, @glpatcern

Do not check if the repository is dirty when creating a tag
  tools/prepare-release/main.go
Owners: @labkode, @glpatcern

allow locking non existing files, fix locking with existing lock
  pkg/storage/utils/decomposedfs/tree/tree.go
  pkg/storage/utils/decomposedfs/upload.go
  pkg/storage/utils/decomposedfs/xattrs/xattrs.go
  pkg/storage/utils/filelocks/filelocks.go
Owners: @cs3org/owncloud-team, @labkode, @glpatcern

make returned error recognizable
  pkg/storage/utils/decomposedfs/node/xattrs.go
Owners: @cs3org/owncloud-team

more lock fixes
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

add download endpoint
  internal/http/services/owncloud/ocdav/download.go
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

fix token from url
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Improve 'request not handled' error message
  internal/http/services/ocmd/ocmd.go
Owners: @labkode, @glpatcern

do not log nil error
  pkg/storage/utils/decomposedfs/tree/tree.go
Owners: @cs3org/owncloud-team

don't overwrite original error when deleting the blob fails
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

Update changelog/unreleased/dockerfile.revad-eos.md
  changelog/unreleased/dockerfile.revad-eos.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

always release node lock
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

authenticate public link
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

use new format for public links
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

add redirection log
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

Reduce load on Drone
  .drone.star
Owners: @labkode, @glpatcern

keep correct mtimes
  pkg/storage/utils/decomposedfs/metadata.go
  pkg/storage/utils/decomposedfs/node/node.go
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

fix adler checksum
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

stat before closing
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

fix lint ... and proper revision download is not covered by the CS3 api
  pkg/storage/utils/decomposedfs/node/node_test.go
  pkg/storage/utils/decomposedfs/revisions.go
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

fix permissions when downloading grants
  pkg/storage/utils/decomposedfs/decomposedfs.go
  pkg/storage/utils/decomposedfs/revisions.go
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team

update changelog
  changelog/unreleased/decomposedfs-finish-upload-rewrite.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

Init log
  pkg/ocm/share/manager/nextcloud/nextcloud.go
Owners: @labkode, @glpatcern

fix https://github.com/pondersource/sciencemesh-php/issues/114
  internal/http/services/ocmd/ocmd.go
  pkg/ocm/share/manager/nextcloud/nextcloud.go
Owners: @labkode, @glpatcern

fix locks and revision restore
  pkg/storage/utils/decomposedfs/revisions.go
  pkg/storage/utils/decomposedfs/upload.go
  pkg/storage/utils/decomposedfs/xattrs/xattrs.go
Owners: @cs3org/owncloud-team

Update dockerfile.revad-eos.md
  changelog/unreleased/dockerfile.revad-eos.md
Owners: @labkode, @ishank011, @glpatcern, @cs3org/owncloud-team

reset oldpath before redirection
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

better error handling
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

fix config
  internal/http/services/owncloud/ocdav/ocdav.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

assemble permissions on the node when checking a revision
  pkg/storage/utils/decomposedfs/node/permissions.go
Owners: @cs3org/owncloud-team

fix archiver url creation
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

fix folders
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

handle archive error
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

set token for archiver service
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

fix archive call
  internal/http/services/owncloud/ocdav/download.go
Owners: @cs3org/owncloud-team, @labkode, @ishank011, @glpatcern

return JSON share object on ocm/send
  internal/http/services/ocmd/send.go
Owners: @labkode, @glpatcern

fix typos
  pkg/storage/utils/decomposedfs/upload.go
Owners: @cs3org/owncloud-team
